<div style="position: relative; height: 200px;">
  <!-- Titre -->
  <h1 class="text-[40px] text-black font-bold ">
    Welcome to ft_transcendence!
  </h1>

  <script>
  document.body.classList.add("bg-[url('/images/mondrian.jpg')]", "bg-cover", "bg-center", "bg-no-repeat", "min-h-screen");
  </script>

  <input id="register" type="button" value="Register"
         class="px-4 py-2 bg-green-600 text-white rounded-lg"
         style="position: absolute; top: 60px; left: 0;">

  <input id="login" type="button" value="Login"
         class="px-4 py-2 bg-blue-600 text-white rounded-lg"
         style="position: absolute; top: 60px; left: 110px;">
</div>
