<div style="position: relative; height: 200px;">
  <!-- Titre -->
  <h1 class="text-[40px] text-white font-bold ">Welcome to ft_transcendence !</h1>

  <script>
  document.body.classList.add("bg-[url('/images/space.gif')]", "bg-cover", "bg-center", "bg-no-repeat", "min-h-screen");
  </script>

  <input id="register" type="button" value="Register" href='/register' onclick="handleRouteClick(event)"
         class="px-4 py-2 bg-green-600 text-white rounded-lg cursor-pointer" 
         style="position: absolute; top: 60px; left: 0;">
  <!-- <input id="register" type="button" value="Register" onclick="registerRedir()" -->
  <!--        class="px-4 py-2 bg-green-600 text-white rounded-lg cursor-pointer"  -->
  <!--        style="position: absolute; top: 60px; left: 0;"> -->

  <input id="login" type="button" value="Login" href='/login' onclick="handleRouteClick(event)"
         class="px-4 py-2 bg-blue-600 text-white rounded-lg cursor-pointer"
         style="position: absolute; top: 60px; left: 110px;">
</div>
