<!-- layout.ejs --->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= text %> </title>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <script id='remote-script' src="js/main.js"> </script>
    <script id='remote-script' src="js/profile.js"> </script>
    <script id='remote-script' src="js/remote.js"> </script>
    <script id='dynamic-script' src="js/socket.js"> </script>
    <script id='dynamic-script' src="js/login.js"> </script>
    <script id='home-script' src="js/home.js"> </script>
    <script id='register-script' src="js/register.js"> </script>
    <link rel="stylesheet" href="css/pong.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/button.css">
  </head>
  <body>
    <div id="menu" class="grid grid-cols-3 items-center h-16 px-4  border-4  border-blue-500 " >
      <%- include('./menu.ejs') %>
    </div>

    <div id="content-div" class="flex items-center justify-center min-h-screen">  
      <%- body %>
    </div>
  <div id="footer">
  </div>
  </body>
  <footer id="footer">

  </footer>
</html>
