<!-- index.ejs --->
<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="js/login.js"> </script>
    <title> <%= text %> </title>
  </head>
  <body>
    <div class="flex flex-row min-h-screen justify-center items-center">
      <%- body %> 
    </div>
  </body>
</html
