<!-- layout.ejs --->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title> <%= text %> </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>
    <script id='remote-script' src="js/main.js"> </script>
    <script id='remote-script' src="js/remote.js"> </script>
    <script id='remote-script' src="js/menu.js"> </script>
    <script id='dynamic-script' src="js/login.js"> </script>
    <script id='home-script' src="js/home.js"> </script>
    <script id='remote-script' src="js/profile.js"> </script>
    <script id='register-script' src="js/register.js"> </script>
    <script id='rgpd-script' src="js/rgpd.js"> </script>
    <script id='match-script' src="js/game_menu.js"> </script>
    <script id='pong_redir' src="js/pong_ia_redir.js"> </script>
    <script id='pong_ia' src="/js/pong_ia.js"> </script>
    <link rel="stylesheet" href="css/pong.css">
    <link rel="stylesheet" href="css/index.css">
    <script id='register-script' src="js/register.js"> </script>
    <link rel="stylesheet" href="css/button.css">
  </head>
  <body class="bg-[url('/images/mondrian.jpg')] bg-cover bg-center bg-no-repeat min-h-screen">
    <div id="menu" class="grid grid-cols-3 items-center h-16 px-4  border-4  border-blue-500 " >
      <%- include('./menu.ejs') %>
    </div>
    <div id="content-div" class="flex items-center justify-center min-h-screen">  
      <%- body %>
    </div>
  </body>
  <footer id="footer" class="flex items-center justify-center">
    <input id="RGPD" type="button" value="Privacy Policy">
  </footer>
</html>
