<!-- index.ejs --->
<!DOCTYPE html>
<html lang="en">
  <head>
    <div id="script-div">
      <script src="js/login.js"> </script>
    </div>
    <title> <%= text %> </title>
  </head>
  <body>
    <div id='content-div' ">
      <%- body %> 
    </div>
  </body>
</html>
