<!-- index.ejs --->
<!doctype html>
<html lang="en">
  <head>
    <title> <%= text %> </title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script id='remote-script' src="js/remote.js"> </script>
    <script id='dynamic-script' src="js/login.js"> </script>
    <link rel="stylesheet" href="css/pong.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div id="content-div" class="flex justify-center items-center min-h-screen">
      <%- body %> 
    </div>
    <footer id="footer">

    </footer>
  </body>
</html>
