<form id='form' class="bg-black flex gap-5 flex-col  p-9 rounded-xl  w-100 h-auto">
  <h2 class='text-center text-2xl'> Login </h2>

  <!-- <label for="fname">username:</label><br> -->
  <!-- <input type="text" id="uname" class="ipt" name="uname" ><br> -->

  <div class="relative">
 <input type="text" id="uname" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900  border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
    <label for="uname" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Username</label>
  <div/>

  <br>

  <!-- <label for="lname">password:</label><br> -->
  <!-- <input type="password" id="pw" class="ipt" name="pw" ><br><br> -->

  <div class="relative">
     <input type="password" id="pw" class="block rounded-t-lg px-2.5 pb-2.5 pt-5 w-full text-sm text-gray-900 border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" placeholder=" " />
    <label for="pw" class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-4 scale-75 top-4 z-10 origin-[0] start-2.5 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto">Password</label>
  <div/>

  <br><br>

  <input id='submit' type="submit" class='btn btn-blue' value="Submit">

  <br>
  <br>

  <input id='start' type="button" class='btn btn-blue' value="start">
</form> 

