<form id='form' class="border">
  <label for="fname">username:</label><br>
  <input type="text" id="uname" name="uname" ><br>
  <label for="lname">password:</label><br>
  <input type="password" id="pw" name="pw" ><br><br>
  <input id='submit' type="submit" value="Submit">
  </br>
  <input id='start' type="button" value="start">
</form> 

