<form id='form' >
  <label for="fname">username:</label><br>
  <input type="text" id="uname" name="uname" ><br>
  <label for="lname">password:</label><br>
  <input type="password" id="pw" name="pw" ><br><br>
  <input id='submit' type="submit" value="Submit">
</form> 

<input id='remote' type="button" value="Remote">
