<form id='form' class="border-3 p-9 rounded-xl border-blue-500">
  <h2 class='text-center text-2xl'> Login </h2>
  <label for="fname">username:</label><br>
  <input type="text" id="uname" class="ipt" name="uname" ><br>
  <label for="lname">password:</label><br>
  <input type="password" id="pw" class="ipt" name="pw" ><br><br>
  <input id='submit' type="submit" class='btn btn-blue' value="Submit">
  </br>
  <input id='start' type="button" class='btn btn-blue' value="start">
</form> 

