<div class="text-left">
    <!-- <a > -->
    <img href='/' onclick="handleRouteClick(event)" src="images/home.png" alt="" class="cursor-pointer h-14 w-14 inline-block rounded-full">
    <!-- </a> -->
  </div>

  <!-- Right image -->
  <div class="text-right">
    <div class="inline-flex items-center gap-6">
      <button href='/register' onclick="handleRouteClick(event)" id="register" class="px-4 py-2 bg-green-600 hover:bg-green-700 text-white font-bold rounded-lg w-25">Register</button>
      <button href='/login' onclick="handleRouteClick(event)" id="login" class="px-4 py-2 bg-blue-500 hover:bg-blue-600 text-white font-bold rounded-lg w-25">Login</button>
      <img href='/profile' onclick="handleRouteClick(event)" id="profile" src="images/avatar.jpg" alt="Profile" class="cursor-pointer h-14 w-14 rounded-full">
    </div>
  </div>

