  <div class="text-left">
    <img id="home" onclick="goBackHome()" src="images/home.png" alt="" class="cursor-pointer h-14 w-14 inline-block rounded-full">
  </div>

  <!-- Center buttons -->
  <div class=" flex content-center justify-center gap-20">
    <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg w-100">Match</button>
    <button class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-lg w-100">Tournament</button>
  </div>

  <!-- Right image -->
  <div class="text-right">
    <img id="profile" src="images/avatar.jpg" alt="" onclick="getProfileView()" class="cursor-pointer h-14 w-14 inline-block rounded-full">
  </div>
