<!-- tournament.ejs -->
<div class="bg-white h-dvh p-8 m-8 rounded-2xl shadow-md w-full max-w-[95%] max-h-full space-y-4">
  <!-- Title -->
  <h1 class="text-2xl font-bold text-center">Tournament</h1>

  <!-- Player html -->
  <div class="flex flex-col w-1/4 min-w-1/10 max-w-1/4 p-4 border border-gray-300 rounded-lg shadow-md bg-gray-50 space-y-4 justify-center">
	
	<!-- Player avatar display -->
	<div class="flex justify-center">
	  <img src="/images/test.jpg" alt="Player" class="justify-center w-1/2 h-auto mx-auto mb-4" />
	</div>

  <!-- Alias selector -->
  <input type="text" id="alias" placeholder="Alias" class="w-full p-2 border border-gray-300 rounded-lg mb-4" />

	<!-- Player type selector -->
	<div class="flex flex-row justify-center items-center">
	  <button class="px-4 py-2 rounded hover:bg-gray-100"><</i></button>
	  <p class="mx-2">Test</p>
	  <button class="px-4 py-2 rounded hover:bg-gray-100">></i></button>
	</div>

  </div>

  <!-- Selector html -->
  <!-- <div class=""> -->
	<input class="absolute bottom-4 left-1/2 -translate-x-1/2" type="range" id="player-nbr-select" min="2" max="32" />
  <!-- </div> -->

</div>
